* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0f1213;

}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.player {
    display: block;
    background-image: linear-gradient(to bottom, #1c462b, #39640f);
    margin: 0 auto;
    padding: 20px;
    box-shadow: inset -6px -6px 12px rgba(118, 116, 116, 0.8),
    inset 6px 6px 12px rgba(#0f1415);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.player > h4 {
    color: #b8a575;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.player > p {
    color: #c6b379;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.player > p span {
    font-size: 400;
    width: fit-content;
}

.details > .details__img {
    position: relative;
    width: fit-content;
    margin: 0 auto;

}

.details > .details__img img {
    display: block;
    margin: 20px auto;
    object-fit: contain;
    width: 100%;
    max-width: 80px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4)
}

.details > .details__img::after {
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: -25px;
    right: -25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.details .details__title {
    color: #48ade4;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.details .details__artist {
    color: #aaa;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

 .control .control__playButton {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    outline-width: 0;
    background-color: #ade8f4;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.control .control__SkipBtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
    font-size: 18px;
}

audio {
    opacity: 0.4;
    outline-width: 0;
    margin-bottom: 5px;
    margin-top: -20px
}

audio::-webkit-media-controls-play-button {
    display: none;
}